@media screen and (max-width: 425px) {
	body {
		justify-content: flex-start;
	}

	.App {
		justify-content: flex-start;
		padding: 0.3rem;
	}

	.logo {
		max-width: 18rem;
	}

	h1 {
		font-size: 16pt;
	}

	.date {
		font-size: 40pt;
		line-height: 4rem;
	}
}

@media screen and (min-width: 426px) {
	body {
		justify-content: center;
	}

	.App {
		justify-content: center;
	}

	.logo {
		margin-top: 1rem;
		max-width: 22rem;
	}

	h1 {
		font-size: 22pt;
	}

	.date {
		font-size: 57pt;
		line-height: 7rem;
	}
}

body {
	display: flex;
	margin: 0;
	background-color: #1e1e1e;
}

.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.subtitle {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	color: white;
	text-align: center;
}

.date {
	font-family: 'Monda', sans-serif;
	margin: 0;
	color: white;
	text-align: center;
}

.ember_email {
	font-family: 'Monda', sans-serif;
	margin: 0;
	color: white;
	font-size: 15pt;
	text-align: center;
}
